.loading-shade {
  position: absolute;
  //widthとheightとz-indexのおかげで、こいつがどれも超えて全面に出る！！！
  // だからこれだけでいい。
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
